.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  height: 100vh;
  background: linear-gradient(to bottom, #EF629F, #EECDA3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  > header {
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-top: 66px;
    color: #d4d4ee;
  }

  > main {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    position: relative;
    width: 96vw;
    border-radius: 4px;
    background-color: #fff;

    .enterActiveClass,
    .leaveActiveClass {
      transition: all 1.5s ease-out;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }

    .enterFromClass {
      transform: translateX(100vw);
    }

    .leaveToClass {
      transform: translateX(-100vw);
      opacity: 0;
    }
  }
}
